.button {
    padding-block: 12px;
    padding-inline: 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: brightness 150ms ease-in-out;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    filter: brightness(90%);
}

.button--small {
    padding-block: 8px;
    padding-inline: 16px;
    font-size: 14px;
    font-weight: 600;
}

.button--blue {
    background-color: #0077b6;
    color: #fff;
}

.button--red {
    background-color: #c1121f;
    color: #fff;
}
