@import url(button.css);
@import url(header.css);
@import url(user.css);
@import url(news.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
}
